<div class="mesa-detalle-container">

  <!-- IZQUIERDA -->
  <div class="left-panel">
    <button class="btn btn-link mb-3" (click)="volver()">← Volver</button>

    <h3>Pedido – Mesa {{ mesaId }}</h3>

    <p *ngIf="pedido.length === 0">No hay pedidos</p>

    <div *ngFor="let item of pedido; let i = index" class="pedido-item">
      <strong>{{ item.cantidad }} × {{ item.plato.nombre }}</strong>
      <span>S/ {{ item.plato.precio * item.cantidad }}</span>

      <div *ngIf="item.comentario">📝 {{ item.comentario }}</div>

      <button class="btn btn-sm btn-danger mt-1" (click)="quitarPlato(i)">
        Quitar
      </button>
    </div>

    <hr />
    <strong>Total: S/ {{ total() }}</strong>
  </div>

  <!-- DERECHA -->
  <div class="right-panel">
    <h4>Productos</h4>

    <div
      class="producto"
      *ngFor="let plato of platos"
      (click)="abrirModal(plato)"
    >
      {{ plato.nombre }}
      <span>S/ {{ plato.precio }}</span>
    </div>
  </div>

</div>

<!-- MODAL -->
<div class="modal-backdrop" *ngIf="mostrarModal"></div>

<div class="modal-custom" *ngIf="mostrarModal">
  <div class="modal-box">

    <h5>{{ platoSeleccionado.nombre }}</h5>

    <label>Cantidad</label>
    <input type="number" class="form-control" min="1" [(ngModel)]="cantidad">

    <label class="mt-2">Comentario</label>
    <textarea class="form-control" [(ngModel)]="comentario"></textarea>

    <div class="modal-actions mt-3">
      <button class="btn btn-secondary" (click)="mostrarModal = false">
        Cancelar
      </button>
      <button class="btn btn-success" (click)="agregarPlato()">
        Agregar
      </button>
    </div>

  </div>
</div>
